.about__image {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 50%;
}

@media screen and (max-width: 446px) {

    .about__image {
        width: 200px;
        height: 200px;
    }
}