.projects {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 100px;
}

.projects__title {
    font-size: 78px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
}

.projects__list {
    width: 100%;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1500px) {

    .projects__list {
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (max-width: 999px) {

    .projects__list {
        display: flex;
        flex-direction: column;
        gap: 28px;
    }
}

@media screen and (max-width: 580px) {

    .projects__title {
        font-size: 68px;
    }
}