.contact__link {
    text-decoration: none;
    background-color: var(--oposite-color);
    padding: 12px 60px 12px 60px;
    color: var(--main-color);
    border-radius: 6px;
    border: 1px solid var(--main-color);
    cursor: pointer;
}

.contact__link:hover {
    background-color: var(--main-color);
    color: var(--oposite-color);
}
