.project__icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: opacity .3s ease;
}

.project__icon:last-of-type {
    width: 24px;
    height: 24px;
}

.project__icon:hover {
    opacity: 0.6;
}