.intro__subtitle {
    color: var(--main-color);
    margin: 0 0 100px 0;
}

@media screen and (max-width: 446px) {

    .intro__subtitle {
        text-align: center;
        padding-left: 32px;
        padding-right: 32px;
    }
}