@import url(../../vendor/normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Staatliches&family=Montserrat&display=swap');

.app {
    font-family: Montserrat, Arial, sans-serif;
    box-sizing: border-box; 
    position: relative;
    background-color: var(--background);
    color: var(--main-color);
    transition: all 1s;
}

.app_theme_dark {
    --background: #101010;
    --main-color: #fff;
    --oposite-color: #000;
    --menu-color: #282828;
}

.app_theme_light {
    --background: #fff;
    --main-color: #000;
    --oposite-color: #fff;
    --menu-color: #d7d7d7;
}

.main {
    margin: 0 auto;
    max-width: 75vw;
}