.intro__title {
    color: var(--main-color);
    font-size: 80px;
    margin: 30px 0 30px 0;
    letter-spacing: 12px;
    font-family: 'Staatliches', cursive;
}

@media screen and (max-width: 446px) {

    .intro__title {
        text-align: center;
    }
}