.intro {
    min-height: calc(100vh -100px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (max-width: 920px) {

    .intro {
        padding-right: 100px;
    }
}

@media screen and (max-width: 800px) {

    .intro {
        padding-right: 0;
    }
}