.header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 50px;
    font-family: 'Lato', 'Inter';
}

@media screen and (max-width: 800px) {

    .header {
        padding: 0;
        justify-content: center;
    }
}

@media screen and (max-width: 800px) {

    .header {
        justify-content: flex-end;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 50px;
        z-index: 1;
        background-color: var(--menu-color);
        transition: color 1s, background-color 1s;
    }
}