.navigation__list_orientation_vertical {
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 800px) {

    .navigation__list_orientation_vertical {
        display: flex;
    }
}